<div class="REGISTRAR-EVENTO">
  <div class="div">
    <div class="frame">
      <button class="boton-barra">
        <img class="image" alt="Image" src="./../../../../assets/images/barras.png" />
      </button>
      <div class="overlap-group">
        <div class="text-wrapper">U</div>
      </div>
    </div>
    <h1 class="h-1">Eventos </h1>
    <button class="frame-2" (click)="openModal()">
      <div class="text-wrapper-2">NUEVO</div>
      <div class="text-wrapper-3">+</div>
    </button>
    <div class=""*ngIf="modalSwitch == true">
      <app-create-event></app-create-event>
    </div>
    <div class="frame-3">
      <div class="overlap">
        <div class="div-wrapper">
          <div class="text-wrapper-4">BUSCAR EVENTO ...</div>
        </div>
        <img class="img" alt="Image" src="./../../../../assets/images/buscador.png" />
      </div>
      <div class="TABLA">
        <div class="group">
          <div class="NOMBRE-EVENTO">
            <div class="frame-4">
              <div class="text-wrapper-5">NOMBRE DEL EVENTO</div>
            </div>
            <div class="frame-5"></div>
            <div class="frame-6"></div>
            <div class="frame-7"></div>
            <div class="frame-8"></div>
            <div class="frame-9"></div>
            <div class="frame-10"></div>
            <div class="frame-11"></div>
          </div>
          <div class="CODIGO">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="text-wrapper-5">CODIGO</div>
            </div>
            <div class="frame-14"></div>
            <div class="frame-15"></div>
            <div class="frame-16"></div>
            <div class="frame-17"></div>
            <div class="frame-18"></div>
            <div class="frame-19"></div>
          </div>
          <div class="ENTORNO">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="text-wrapper-5">ENTORNO</div>
            </div>
            <div class="frame-14"></div>
            <div class="frame-15"></div>
            <div class="frame-16"></div>
            <div class="frame-17"></div>
            <div class="frame-18"></div>
            <div class="frame-19"></div>
          </div>
          <div class="FECHA-INICIO">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="text-wrapper-5">INICIA</div>
            </div>
            <div class="frame-14"></div>
            <div class="frame-15"></div>
            <div class="frame-16"></div>
            <div class="frame-17"></div>
            <div class="frame-18"></div>
            <div class="frame-19"></div>
          </div>
          <div class="FECHA-FINALIZACION">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="text-wrapper-5">FINALIZA</div>
            </div>
            <div class="frame-14"></div>
            <div class="frame-15"></div>
            <div class="frame-16"></div>
            <div class="frame-17"></div>
            <div class="frame-18"></div>
            <div class="frame-19"></div>
          </div>
          <div class="AJUSTES">
            <div class="image-wrapper">
              <img class="image-2" alt="Image" src="./../../../../assets/images/confi.png" />
            </div>
            <div class="frame-20">
              <div class="text-wrapper-6">AJUSTES</div>
            </div>
            <div class="img-wrapper">
              <img class="image-2" alt="Image" src="./../../../../assets/images/confi.png" />
            </div>
            <div class="frame-21">
              <img class="image-2" alt="Image" src="./../../../../assets/images/confi.png" />
            </div>
            <div class="frame-22">
              <img class="image-2" alt="Image" src="./../../../../assets/images/confi.png" />
            </div>
            <div class="frame-23">
              <img class="image-2" alt="Image" src="./../../../../assets/images/confi.png" />
            </div>
            <div class="frame-24">
              <img class="image-2" alt="Image" src="./../../../../assets/images/confi.png" />
            </div>
            <div class="frame-25">
              <img class="image-2" alt="Image" src="./../../../../assets/images/confi.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

