<div class="box">
  <div class="frame-wrapper">
    <div class="frame">
      <h1 class="text-wrapper">NUESTRAS REDES</h1>
      <div class="red">
        <div class="overlap-group">
          <a class= "image" href="https://www.facebook.com/LiiDUTPL"><img  src="./../../../../assets/images/facebook.png" alt="Image" /></a>

        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap-group">
          <img class="image" alt="Image" src="./../../../../assets/images/twitter.png" />
          <a class= "image" href="https://twitter.com/liid_utpl"><img  src="./../../../../assets/images/twitter.png" alt="Image" /></a>

        </div>
      </div>

      <div class="div-wrapper">

        <div class="overlap-group-wrapper">
          <div class="overlap-group">

            <a class= "image" href="https://www.instagram.com/liid_utpl/"><img  src="./../../../../assets/images/instagram.png" alt="Image" /></a>

          </div>
        </div>
      </div>
      <div class="div">
        <div class="overlap-group">
          <a class= "image" href="https://www.youtube.com/@laboratoriodeinnovacionein9121"><img  src="./../../../../assets/images/youtube.png" alt="Image" /></a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="my-box">
  <div class="desktop-wrapper">
    <div class="desktop">
      <div class="my-text-wrapper">Nuestro Equipo</div>
      <h1 class="my-heading">Conozca a nuestro equipo</h1>
      <div class="my-frame">
        <div class="my-ellipse"></div>
        <div class="my-div">Nombres y Apellidos</div>
        <div class="my-text-wrapper-2">Rol o Ocupación</div>
        <img class="my-image" alt="Image" src="./../../../../assets/images/facebook.png" />
        <img class="my-img" alt="Image" src="./../../../../assets/images/twitter.png" />
        <img class="my-image-2" alt="Image" src="./../../../../assets/images/instagram.png" />
      </div>
      <div class="my-frame-2">
        <div class="my-ellipse"></div>
        <div class="my-div">Nombres y Apellidos</div>
        <div class="my-text-wrapper-2">Rol o Ocupación</div>
        <img class="my-image" alt="Image" src="./../../../../assets/images/facebook.png" />
        <img class="my-img" alt="Image" src="./../../../../assets/images/twitter.png" />
        <img class="my-image-2" alt="Image" src="./../../../../assets/images/instagram.png" />
      </div>
      <div class="my-frame-3">
        <div class="my-ellipse"></div>
        <div class="my-div">Nombres y Apellidos</div>
        <div class="my-text-wrapper-2">Rol o Ocupación</div>
        <img class="my-image" alt="Image" src="./../../../../assets/images/facebook.png" />
        <img class="my-img" alt="Image" src="./../../../../assets/images/twitter.png" />
        <img class="my-image-2" alt="Image" src="./../../../../assets/images/instagram.png" />
      </div>
      <div class="my-frame-4">
        <div class="my-ellipse"></div>
        <div class="my-div">Nombres y Apellidos</div>
        <div class="my-text-wrapper-2">Rol o Ocupación</div>
        <img class="my-image" alt="Image" src="./../../../../assets/images/facebook.png" />
        <img class="my-img" alt="Image" src="./../../../../assets/images/twitter.png" />
        <img class="my-image-2" alt="Image" src="./../../../../assets/images/instagram.png" />
      </div>
    </div>
  </div>
</div>
