<div class="box">
  <div class="agenda-wrapper">
    <div class="agenda">
      <h1 class="text-wrapper">AGENDA</h1>
      <div class="div">EVENTOS PROXIMOS</div>
      <div class="group">
        <div class="text-wrapper-2">31</div>
        <div class="overlap">
          <div class="text-wrapper-3">Lunes</div>
          <div class="text-wrapper-4">julio</div>
        </div>
        <div class="text-wrapper-5">CASA ABIERTA</div>
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="text-wrapper-6">Entrar  →</div>
        </div>
      </div>
      <div class="group-2">
        <div class="text-wrapper-2">10</div>
        <div class="overlap-2">
          <div class="text-wrapper-3">Martes</div>
          <div class="text-wrapper-4">junio</div>
        </div>
        <div class="text-wrapper-5">RECORRIDO</div>
        <div class="overlap-3">
          <div class="rectangle"></div>
          <div class="text-wrapper-6">Entrar  →</div>
        </div>
      </div>
      <div class="group-3">
        <div class="text-wrapper-2">20</div>
        <div class="overlap-2">
          <div class="text-wrapper-3">dia</div>
          <div class="text-wrapper-4">mes</div>
        </div>
        <div class="text-wrapper-5">FERIA</div>
        <div class="overlap-4">
          <div class="text-wrapper-6">Entrar  →</div>
        </div>
      </div>
      <div class="group-4">
        <div class="text-wrapper-2">22</div>
        <div class="overlap-2">
          <div class="text-wrapper-3">dia</div>
          <div class="text-wrapper-4">mes</div>
        </div>
        <div class="text-wrapper-5">ANIVERSARIO</div>
        <div class="overlap-5">
          <div class="text-wrapper-6">Entrar  →</div>
        </div>
      </div>
      <div class="group-5">
        <div class="text-wrapper-2">13</div>
        <div class="overlap-2">
          <div class="text-wrapper-3">dia</div>
          <div class="text-wrapper-4">mes</div>
        </div>
        <div class="text-wrapper-5">ENPRENDER</div>
        <div class="overlap-6">
          <div class="text-wrapper-6">Entrar  →</div>
        </div>
      </div>
      <div class="overlap-7">
        <div class="text-wrapper-7">Entrar →</div>
      </div>
      <div class="group-6">
        <div class="text-wrapper-2">24</div>
        <div class="overlap-2">
          <div class="text-wrapper-3">dia</div>
          <div class="text-wrapper-4">mes</div>
        </div>
        <div class="text-wrapper-5">EVENTO</div>
      </div>
      <div class="frame">
        <img class="image" alt="Image" src="./../../../../assets/images/cruz.png" />
      </div>
    </div>
  </div>
</div>
