
<div class="entorno">


<div class="titulo">
  <h1>Entorno</h1>
</div>
<div class="titulo2">
  <h1>LiiD UTPL </h1> <br>

</div>
<div class="titulo2">

  <br><h1>¿Qué es la LiiD UTPL? </h1>
</div>

  <div class="contenedor-texto">

    <p >El LiiD UTPL trabaja en colaboración con docentes, investigadores y estudiantes para diseñar y poner en práctica proyectos pedagógicos innovadores que utilizan tecnologías de vanguardia. Estas iniciativas van desde la creación de recursos educativos digitales hasta la implementación de entornos virtuales de aprendizaje, la capacitación docente en el uso de tecnología educativa y la investigación en el campo de la educación.</p>
    <div class="imagen-container"></div>
    <img src="../assets/images/LIID.png" alt="LIID" >

  </div>


</div>
