/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

/* Estilos para etiquetas y campos de formulario */
.form-label {
  font-weight: bold;
}

.form-control {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s;
}

.form-control:focus {
  outline: none;
  border-color: #6d9feb;
}

/* Estilo para el botón de envío */
input[type="submit"] {
  background-color: #6d9feb;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #5788c1;
}
