<div id="hero">

  <div class="imagen">
    <img src="./../../../../assets/images/WhatsApp Image 2023-05-09 at 17.28 2.png"alt="imagen de vulcano"
    id="logo">
  </div>

  <div class="objetivo-container">
    <p class="texto">¡Descubre el epicentro de la diversión universitaria! Bienvenidos a nuestra página de eventos, donde la emoción y la energía se fusionan para crear experiencias inolvidables en el campus. Desde vibrantes conciertos hasta competencias deportivas intensas, aquí encontrarás la llave hacia la mejor vida universitaria. Conecta con estudiantes apasionados, explora nuevos talentos y sumérgete en un mundo de encuentros inigualables. ¡Prepárate para ser parte de la élite de la diversión universitaria</p>
  </div>

  <div class="boton-ayuda">
    <div class="linea-texto">
      <p>NECESITAS AYUDA ¡ESCRIBENOS!</p>
    </div>
    <div class="circulo-imagen">
      <img src="./../../../../assets/images/image 1.png"
      alt="Icono-mensaje"/>
    </div>
  </div>

  <app-entorno id="entornos"></app-entorno>
  <app-agenda id="agenda"></app-agenda>
  <app-nets id="redes"></app-nets>

</div>




